.nf-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#020617,#0f172a,#1e293b);
    padding:20px;
    overflow:hidden;
    position:relative;
    }
    
    .nf-container::before{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    background:#06b6d4;
    border-radius:50%;
    top:-100px;
    left:-100px;
    filter:blur(120px);
    opacity:.4;
    }
    
    .nf-container::after{
    content:"";
    position:absolute;
    width:400px;
    height:400px;
    background:#8b5cf6;
    border-radius:50%;
    right:-100px;
    bottom:-100px;
    filter:blur(120px);
    opacity:.4;
    }
    
    .nf-card{
    width:550px;
    max-width:100%;
    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    border:1px solid rgba(255,255,255,.15);
    border-radius:25px;
    padding:50px;
    text-align:center;
    color:white;
    position:relative;
    z-index:2;
    animation:updown 4s ease-in-out infinite;
    }
    
    
    .nf-code{
    font-size:120px;
    font-weight:800;
    line-height:1;
    background:linear-gradient(45deg,#38bdf8,#8b5cf6);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
    margin-bottom:10px;
    }
    
    .nf-title{
    font-size:32px;
    margin-bottom:15px;
    }
    
    .nf-text{
    font-size:18px;
    line-height:1.7;
    color:#cbd5e1;
    margin-bottom:30px;
    }
    
    .nf-btn{
    padding:14px 35px;
    border:none;
    border-radius:50px;
    background:linear-gradient(135deg,#06b6d4,#3b82f6);
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
    }
    
    .nf-btn:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(59,130,246,.4);
    }
    
    @keyframes updown{
    0%{
    transform:translateY(0);
    }
    50%{
    transform:translateY(-12px);
    }
    100%{
    transform:translateY(0);
    }
    }
    
    @media(max-width:768px){
    .nf-card{
    padding:35px 25px;
    }
    
    .nf-code{
    font-size:90px;
    }
    
    .nf-title{
    font-size:24px;
    }
    
    .nf-text{
    font-size:16px;
    }
    }